{% extends 'base.html' %}
{% load static %}
{% block title %}SmartSoko- About{% endblock %}

{% block content %}
<div class="modal fade" id="cart-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header flex-column">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                        <img src="{% static 'images/product/evan-mcdougall-qnh1odlqOmk-unsplash.jpeg' %}" class="img-fluid product-image" alt="">
                    </div>

                    <div class="col-lg-6 col-12 mt-3 mt-lg-0">
                        <h3 class="modal-title" id="exampleModalLabel">Tree pot</h3>

                        <p class="product-price text-muted mt-3">$25</p>

                        <p class="product-p">Quantity: <span class="ms-1">4</span></p>

                        <p class="product-p">Colour: <span class="ms-1">Black</span></p>

                        <p class="product-p pb-3">Size: <span class="ms-1">S/S</span></p>

                        <div class="border-top mt-4 pt-3">
                            <p class="product-p"><strong>Total: <span class="ms-1">$100</span></strong></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row w-50">
                    <button type="button" class="btn custom-btn cart-btn ms-lg-4">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
