{% extends 'base.html' %}

{% block content %}
<header class="site-header section-padding d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-12">
                <h1>
                    <span class="d-block text-primary">Choose your</span>
                    <span class="d-block text-dark">favorite stuffs</span>
                </h1>
            </div>
        </div>
    </div>
</header>

<section class="products section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-5">New Arrivals</h2>
            </div>

            {% for product in new_arrivals %}
            <div class="col-lg-4 col-12 mb-3">
                <div class="product-thumb">
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" class="img-fluid product-image" alt="{{ product.title }}">
                    </a>

                    <div class="product-top d-flex">
                        {% if product.tag %}
                        <span class="product-alert me-auto">{{ product.tag }}</span>
                        {% endif %}
                        <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                    </div>

                    <div class="product-info d-flex">
                        <div>
                            <h5 class="product-title mb-0">
                                <a href="{% url 'product_detail' product.id %}" class="product-title-link">{{ product.title }}</a>
                            </h5>
                            <p class="product-p">{{ product.description }}</p>
                        </div>
                        <small class="product-price text-muted ms-auto">${{ product.price }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="col-12">
                <h2 class="mb-5">Popular</h2>
            </div>

            {% for product in popular_products %}
            <div class="col-lg-4 col-12 mb-3">
                <div class="product-thumb">
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" class="img-fluid product-image" alt="{{ product.title }}">
                    </a>

                    <div class="product-top d-flex">
                        {% if product.tag %}
                        <span class="product-alert">{{ product.tag }}</span>
                        {% endif %}
                        <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                    </div>

                    <div class="product-info d-flex">
                        <div>
                            <h5 class="product-title mb-0">
                                <a href="{% url 'product_detail' product.id %}" class="product-title-link">{{ product.title }}</a>
                            </h5>
                            <p class="product-p">{{ product.description }}</p>
                        </div>
                        <small class="product-price text-muted ms-auto">${{ product.price }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
